{% extends 'base.html' %}

{% load static %}

{% block title %}Welcam_짝선배신청{% endblock %}
{% block extra-style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/counsel_style.css' %}">
<script type="text/javascript" src="../static/js/calendar.js">
</script>

{% endblock %}

{% block content %}

<div class="container">
<form action="{% url 'therapy:result' %}" method="POST"> {% csrf_token %}
    <div class="col1">
        <h1>MBTI</h1>
            <input type="radio" id="a1" name="who" value="INFJ"> <label for="a1" style="margin-right: 1%;">INFJ</label>
            <input type="radio" id="a2" name="who" value="INFP"> <label for="a2" style="margin-right: 1%;">INFP</label>
            <input type="radio" id="a3" name="who" value="INTJ"> <label for="a3" style="margin-right: 1%;">INTJ</label>
            <input type="radio" id="a4" name="who" value="INTP"> <label for="a4" style="margin-right: 1%;">INTP</label>
            <input type="radio" id="a5" name="who" value="ISTJ"> <label for="a5" style="margin-right: 1%;">ISTJ</label>
            <input type="radio" id="a6" name="who" value="ISTP"> <label for="a6" style="margin-right: 1%;">ISTP</label>
            <input type="radio" id="a7" name="who" value="ISFJ"> <label for="a7" style="margin-right: 1%;">ISFJ</label>
            <input type="radio" id="a8" name="who" value="ISFP"> <label for="a8" style="margin-right: 1%;">ISFP</label>
            <input type="radio" id="a9" name="who" value="ENTP"> <label for="a9" style="margin-right: 1%;">ENTP</label>
            <input type="radio" id="a10" name="who" value="ENTJ"> <label for="a10" style="margin-right: 1%;">ENTJ</label>
            <input type="radio" id="a11" name="who" value="ENFP"> <label for="a11" style="margin-right: 1%;">ENFP</label>
            <input type="radio" id="a12" name="who" value="ENFJ"> <label for="a12" style="margin-right: 1%;">ENFJ</label>
            <input type="radio" id="a13" name="who" value="ESTP"> <label for="a13" style="margin-right: 1%;">ESTP</label>
            <input type="radio" id="a14" name="who" value="ESTJ"> <label for="a14" style="margin-right: 1%;">ESTJ</label>
            <input type="radio" id="a15" name="who" value="ESFP"> <label for="a15" style="margin-right: 1%;">ESFP</label>
            <input type="radio" id="a16" name="who" value="ESFJ"> <label for="a16" style="margin-right: 1%;">ESFJ</label>
        
            <br>

        <h1 style="display: inline;">취미<span class="topic_detail">최대 3개의 주제를 선택할 수 있어요</span></h1><br>
            <input type="checkbox" id="d1" name="about[]" value="여행"> <label for="d1">여행</label>
            <input type="checkbox" id="d2" name="about[]" value="게임"> <label for="d2">게임</label>
            <input type="checkbox" id="d3" name="about[]" value="뮤지컬감상"> <label for="d3">뮤지컬 감상</label>
            <input type="checkbox" id="d4" name="about[]" value="영화감상"> <label for="d4">영화 감상</label>
            <input type="checkbox" id="d5" name="about[]" value="독서"> <label for="d5">독서</label>
            <input type="checkbox" id="d6" name="about[]" value="운동"> <label for="d6">운동</label>
            <input type="checkbox" id="d7" name="about[]" value="맛집탐방"> <label for="d7">맛집 탐방</label>
            <input type="checkbox" id="d8" name="about[]" value="음주가무"> <label for="d8">음주가무</label>
            <input type="checkbox" id="d9" name="about[]" value="보드게임"> <label for="d9">보드게임</label>
            <input type="checkbox" id="d10" name="about[]" value="요리"> <label for="d10">요리</label>

        <h1 style="margin-top:3%;">상세내용<span class="topic_detail">바라는 점을 자유롭게 작성해주세요.</span></h1>
            <input type="textarea" name="detailtext" class="input-text">
    </div>

    <!--캘린더/제출버튼-->
    <div class="col2">
        <h1>반모임 날짜</h1>
        <table class="scriptCalendar">
            <thead>
                <!--연월 표시-->
                <tr>
                    <td onClick="prevCalendar();"></td>
                    <td colspan="5">
                        <span id="calYear">YYYY</span>년
                        <span id="calMonth">MM</span>월
                    </td>
                    <td onClick="nextCalendar();"></td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>S</td><td>M</td><td>T</td><td>W</td><td>T</td><td>F</td><td>S</td>
                </tr>
            </thead>
            <tbody style="text-align: center;"></tbody>
        </table>
        <input type="hidden" name="datenum" id="date-pick" value="">
        
        <!-- 상담시간 선택 -->
        <div class="timepick">
            <input type="checkbox" id="e1" name="time-pick[]" value="10:00"> <label for="e1">10:00</label>
            <input type="checkbox" id="e2" name="time-pick[]" value="10:30"> <label for="e2">10:30</label>
            <input type="checkbox" id="e3" name="time-pick[]" value="11:00"> <label for="e3">11:00</label>
            <input type="checkbox" id="e4" name="time-pick[]" value="11:30"> <label for="e4">11:30</label>
            <input type="checkbox" id="e5" name="time-pick[]" value="13:00"> <label for="e5">13:00</label>
            <input type="checkbox" id="e6" name="time-pick[]" value="13:30"> <label for="e6">13:00</label>
            <input type="checkbox" id="e7" name="time-pick[]" value="14:00"> <label for="e7">14:00</label>
            <input type="checkbox" id="e8" name="time-pick[]" value="14:30"> <label for="e8">14:30</label>
            <input type="checkbox" id="e9" name="time-pick[]" value="15:00"> <label for="e9">15:00</label>
            <input type="checkbox" id="e10" name="time-pick[]" value="15:30"> <label for="e10">15:30</label>
            <input type="checkbox" id="e11" name="time-pick[]" value="16:00"> <label for="e11">16:00</label>
            <input type="checkbox" id="e12" name="time-pick[]" value="16:30"> <label for="e12">16:30</label>
        </div>
    </div>

    <div class="col3">
        <button class="cancel-btn" value="cancel" onclick="history.back(-1);">취소</button>
        <input type="submit" class="submit-btn" value="제출하기">
    </div>

</form>
</div>

{% endblock %}

{% block extra-script %}
<script>
//달력 출력
buildCalendar();
//체크박스 최대 3개 제한
$(document).ready(function(){
    $("input[name='about[]'").on("click" , function(){
    var count = $("input:checked[name='about[]']").length;
    
    if(count > 3){
    $(this).attr("checked" , false);
    alert("3개까지만 선택할 수 있습니다.");
    }
    });
});
</script>

{% endblock %}