{% extends 'myprofile/base.html' %}

{% load static %}
{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/myprofile_style.css' %}">{% endblock %}
{% block title %}Welcame_프로필{% endblock %}

{% block content %}
<div class="container">
  <div class="col1">
    <div class="my-profile-home row">
      <div style="width:100%;">
        <div class="profile-title">내 프로필</div>
        <a href="{% url 'myprofile:detail' my.id %}" style="font-weight:bold; float:right; color:#7A7A7A; font-size:14px;">더보기</a>
      </div>
      <div class="my-profile">
        <img src="{{my.profile_image.url}}" width="150" height="150" style="border-radius:75px; border: 0.75px solid #C4C4C4;">
        <!--<div class="mb-1 text-muted">Nov 12</div>-->
        <div class="my-profile-intro">
          <b>이름</b> &nbsp; {{my.username}}<br>
          <b>분반</b> &nbsp; {{my.school_class}}분반<br>
          <b>소개</b> &nbsp; {{my.intro}}</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="col2">
    <div class="friends">
      <div class="profile-title" style="margin:24px;">우리분반 동기들</div>
      <div class="friends-list">
        {% for friend in class_friends.all %}
          <div class="friend-card">
            <a class="friend-card-a" href="{% url 'myprofile:detail' friend.id %}">
              <img src="{{friend.profile_image.url}}" width="80" height="80" style="border-radius:40px; border: 0.75px solid #C4C4C4;">
              <div style="font-size:14px; font-weight:500; line-height: 20px; margin-top:8px;">{{friend.username}}</div>
            </a>
            <div style="height: 1px; background-color: #00462a; margin:5px;"></div>
            <div style="font-weight: normal; font-size:12px;">{{friend.intro}}</div>
          </div>
        {% endfor %}
      </div>
      <!--<h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
    </div>
  </div>
</div>
   
{% endblock content %}
